extends layout/main.pug

block title
	title Crypto

block pagecontent
	+header()
	.page_wrap
		+left_side()
		.content_block
			#content.faq
				h1.page_title FAQ
				.dropdown_block
					p.title Is a market data service developed and distributed?
					.dropdown_content
						p Cryptowatch can be accessed and used anonymously (without being logged into a Cryptowatch Account).

				.dropdown_block
					p.title Account allows one to see?
					.dropdown_content
						p Account allows one to see?

				.dropdown_block
					p.title The Service may be refunded in circumstances?
					.dropdown_content
						p The Service may be refunded in circumstances?

				.dropdown_block
					p.title We do our best to ensure that our?
					.dropdown_content
						p
							| Cryptowatch can be accessed and used anonymously (without being logged into a
							| Cryptowatch Account). Accessing the Service when logged into an Account allows
							| one to see a customized view of the market which shows their personal trading data.

						p
							| There are two types of Cryptowatch Accounts: Upgraded Accounts ("paid accounts")
							| and Basic Accounts ("free accounts"). Upgraded Accounts offer access to an
							| integrated trading interface in addition to the basic offering of a customized
							| market view.

				.dropdown_block
					p.title Is a market data service developed and distributed?
					.dropdown_content
						p Is a market data service developed and distributed?

				.dropdown_block
					p.title Account allows one to see?
					.dropdown_content
						p Account allows one to see?

				.dropdown_block
					p.title The Service may be refunded in circumstances?
					.dropdown_content
						p The Service may be refunded in circumstances?

				.dropdown_block
					p.title We do our best to ensure that our software is secure?
					.dropdown_content
						p We do our best to ensure that our software is secure?

			+right_side()
			+footer()
