extends layout/main.pug

block title
    title Crypto

block pagecontent
    .page_wrap.sign_page
        .form_block
            .logo
                img(src="img/logo_b.png", srcset="img/logo_b@2x.png 2x")
            h1.text_center Sign in
            form#sign-in(class="login_form")
                div.email
                    input(type="email", name="email", placeholder="E-mail")
                div.password
                    input(type="password", name="password", placeholder="Password")
                button(type="submit") Sign in
                .bottom_link
                    a(href="sign_up.html") Sign up
                    a(href="") Forgot password?
block scripts
    script(src="lib/jquery/jquery.js")
    script(src="js/main.js")



















