include ../../blocks/header/header.pug
include ../../blocks/left_side/left_side.pug
include ../../blocks/right_side/right_side.pug
include ../../blocks/footer/footer.pug

doctype html
html(lang="en")
	head
		meta(charset="utf-8")

		block title
			title Главная страница

		meta(name="description", content="description")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="lib/font-awesome/font-awesome.min.css")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/main.css")

	body
		block pagecontent
		block scripts
			script(src="lib/jquery/jquery.js")
			script(src="lib/canvasjs/canvasjs.min.js")
			script(src="js/main.js")
			script(src="js/exchange_graph.js")


			


			
