mixin left_side()
	.left_side
		button.mobile Navigation
			i.arrow
		ul
			li
				a.dashboard(href="index_with_key.html")
					span.ico
					span.text Dashboard
			li
				a.api_keys(href="api_keys.html")
					span.ico
					span.text API keys
			li
				a.security(href="security.html")
					span.ico
					span.text Security
			li
				a.faq(href="faq.html")
					span.ico
					span.text FAQ
			li
				a.about(href="about.html")
					span.ico
					span.text About

